<template>
    <div class="sticky-sharebar js-sticky-sharebar" :class="{'sticky-sharebar--on-target': showClass}">
    <ul class="sticky-sharebar__list">
      <li>
        <a class="sticky-sharebar__btn js-social-share" data-social="twitter" data-text="Hi there! https://codyhouse.co via @CodyWebHouse" data-hashtags="#nuggets, #dev" href="https://twitter.com/intent/tweet">
          <svg class="icon" viewBox="0 0 32 32"><title>Share on Twitter</title><g><path d="M32,6.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6C25.7,3.8,24,3,22.2,3 c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5C10.3,10.8,5.5,8.2,2.2,4.2c-0.6,1-0.9,2.1-0.9,3.3c0,2.3,1.2,4.3,2.9,5.5 c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1C2.9,27.9,6.4,29,10.1,29c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C30,8.5,31.1,7.4,32,6.1z"></path></g></svg>
        </a>
      </li>
    
      <li>
        <a class="sticky-sharebar__btn js-social-share" data-social="facebook" data-url="https://codyhouse.co" href="http://www.facebook.com/sharer.php">
          <svg class="icon" viewBox="0 0 32 32"><title>Share on Facebook</title><path d="M32,16A16,16,0,1,0,13.5,31.806V20.625H9.438V16H13.5V12.475c0-4.01,2.389-6.225,6.043-6.225a24.644,24.644,0,0,1,3.582.312V10.5H21.107A2.312,2.312,0,0,0,18.5,13v3h4.438l-.71,4.625H18.5V31.806A16,16,0,0,0,32,16Z"></path></svg>
        </a>
      </li>
    
      <li>
        <a class="sticky-sharebar__btn js-social-share" data-social="pinterest" data-description="Description for my Pinterest share" data-media="https://codyhouse.co/app/assets/img/social-sharing-img-1.jpg" href="http://pinterest.com/pin/create/button">
          <svg class="icon" viewBox="0 0 32 32"><title>Share on Pinterest</title><g><path d="M16,0C7.2,0,0,7.2,0,16c0,6.8,4.2,12.6,10.2,14.9c-0.1-1.3-0.3-3.2,0.1-4.6c0.3-1.2,1.9-8,1.9-8 s-0.5-1-0.5-2.4c0-2.2,1.3-3.9,2.9-3.9c1.4,0,2,1,2,2.3c0,1.4-0.9,3.4-1.3,5.3c-0.4,1.6,0.8,2.9,2.4,2.9c2.8,0,5-3,5-7.3 c0-3.8-2.8-6.5-6.7-6.5c-4.6,0-7.2,3.4-7.2,6.9c0,1.4,0.5,2.8,1.2,3.7c0.1,0.2,0.1,0.3,0.1,0.5c-0.1,0.5-0.4,1.6-0.4,1.8 C9.5,21.9,9.3,22,9,21.8c-2-0.9-3.2-3.9-3.2-6.2c0-5,3.7-9.7,10.6-9.7c5.6,0,9.9,4,9.9,9.2c0,5.5-3.5,10-8.3,10 c-1.6,0-3.1-0.8-3.7-1.8c0,0-0.8,3.1-1,3.8c-0.4,1.4-1.3,3.1-2,4.2c1.5,0.5,3.1,0.7,4.7,0.7c8.8,0,16-7.2,16-16C32,7.2,24.8,0,16,0z "></path></g></svg>
        </a>
      </li>
    
      <li>
        <a class="sticky-sharebar__btn js-social-share" data-social="linkedin" data-url="http://codyhouse.co" href="https://www.linkedin.com/shareArticle">
          <svg class="icon" viewBox="0 0 32 32"><title>Share on Linkedin</title><g><path d="M29,1H3A2,2,0,0,0,1,3V29a2,2,0,0,0,2,2H29a2,2,0,0,0,2-2V3A2,2,0,0,0,29,1ZM9.887,26.594H5.374V12.25H9.887ZM7.63,10.281a2.625,2.625,0,1,1,2.633-2.625A2.624,2.624,0,0,1,7.63,10.281ZM26.621,26.594H22.2V19.656c0-1.687,0-3.75-2.35-3.75s-2.633,1.782-2.633,3.656v7.126H12.8V12.25h4.136v1.969h.094a4.7,4.7,0,0,1,4.231-2.344c4.513,0,5.359,3,5.359,6.844Z"></path></g></svg>
        </a>
      </li>
    
      <li>
        <a class="sticky-sharebar__btn js-social-share" data-social="mail" data-subject="Email Subject" data-body="Content of my email." href="mailto:">
          <svg class="icon" viewBox="0 0 32 32"><title>Share by Email</title><g><path d="M28,3H4A3.957,3.957,0,0,0,0,7V25a3.957,3.957,0,0,0,4,4H28a3.957,3.957,0,0,0,4-4V7A3.957,3.957,0,0,0,28,3Zm.6,6.8-12,9a1,1,0,0,1-1.2,0l-12-9A1,1,0,0,1,4.6,8.2L16,16.75,27.4,8.2a1,1,0,1,1,1.2,1.6Z"></path></g></svg>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
    props: {
        target: {
            type: String,
            required: true
        },
        threshold: {
            default: "50%",
            type: String
        }
    },

    data() {
        return {
            element: "",
            contentTarget: "",
            showClass: false,
            bottomMargin: this.threshold,
            intersectionObserverSupported: false
        }
    },

    methods: {
        initSharebar() {
            this.contentTarget = document.getElementsByClassName(this.target)[0];
            this.intersectionObserverSupported = ('IntersectionObserver' in window && 'IntersectionObserverEntry' in window && 'intersectionRatio' in window.IntersectionObserverEntry.prototype);

            if(this.contentTarget.length < 1) {
              this.showClass = true;
              return;
            }
            if(this.intersectionObserverSupported) {
              this.initObserver(); 
            } else {
              this.showClass = true;
            }
        },

        initObserver() {
            const self = this;
            let observer = new IntersectionObserver(
              function(entries, observer) { 
                self.showClass = entries[0].isIntersecting;
              }, 
              {
               rootMargin: "0px 0px -"+this.bottomMargin+" 0px"}
            );
            observer.observe(this.contentTarget);
        }
    },

    mounted() {
        this.initSharebar();  
    }
}
</script>

<style lang="scss">
.container {
  line-height: 3;
  max-width: 48rem;
  margin-left: auto;  
  margin-right: auto;
  font-size: 18px;
}

.sticky-sharebar {
    display: flex;
    align-items: center;
    position: fixed;
    height: 100%;
    top: 0;
    right: 20px;
    pointer-events: none;
    z-index: 10;
  
    transition: visibility 0s .3s, opacity .3s, transform .3s;
    transform: translateX(10%);
    opacity: 0;
    visibility: hidden;
  }
  
  
  .sticky-sharebar--on-target {
    transition: visibility 0s, opacity .3s, transform .3s;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  
  .sticky-sharebar__list {
    pointer-events: auto;
    background-color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 50em;
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
    padding: 4px;
    list-style: none;
  }
  
  .sticky-sharebar__btn {
    position: relative;
    display: block; // fallback
    display: flex;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    
    .icon {
      position: relative;
      color: hsl(240, 1%, 48%); 
      fill: currentColor;
      display: block;
      margin: auto;
      z-index: 2;
      transition: color .2s;
      height: 1em;
      width: 1em;
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: inherit;
      transform: scale(0);
      transition: transform .3s;
    }
  
    &:hover {
      .icon {
        color: hsl(240, 8%, 12%);
      }
  
      &::before {
        transform: scale(1);
      }
    }
  }
</style>