<template>
  <div id="app">
    <div class="container">
    <h1>Sticky Sharebar</h1>
    <p>⚠️ Scroll down to reveal the Sharebar.</p>
  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit non deserunt at nemo laboriosam nesciunt ad voluptate optio repellat architecto quis obcaecati id rem nihil, sunt illo nobis accusantium corrupti laudantium necessitatibus aut ut saepe tenetur hic. Optio facere ipsum eveniet laudantium sint maxime nihil non. Est commodi, dignissimos incidunt illo cum mollitia error a, perferendis, asperiores inventore eum impedit dolores. Suscipit autem enim, voluptas aliquid laborum repudiandae, atque doloremque facere provident vero amet, corporis qui porro distinctio sint incidunt minus quibusdam consequuntur eum error ea voluptatibus consequatur alias voluptates? Harum ducimus culpa consequatur aliquid voluptas officiis unde alias amet.</p>
  
    <div class="js-sticky-sharebar-target">
      <h2>Introduction</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab harum porro aut voluptatum illo id, maxime, totam quidem natus saepe ut dignissimos quasi perferendis minus laborum dolores in qui suscipit, accusamus magnam dolor! Rem nobis libero assumenda possimus iusto sint harum, explicabo reiciendis quisquam. Debitis quisquam sequi numquam deleniti nihil?</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit beatae laborum itaque aliquam ipsam consequatur numquam? Qui nobis <a href="#0">molestiae accusantium fugiat</a>, culpa asperiores similique ad dolor, eum cum maiores earum ipsam dolores veritatis nostrum odit illum rerum delectus officiis dolore. Doloribus odit nulla quasi eos mollitia rem perferendis est laudantium unde ad blanditiis, ut vitae dicta aliquam beatae sed impedit illum explicabo. Saepe aliquam, at similique ipsum quae cum soluta quia cumque illum reprehenderit iusto, adipisci, unde id totam. Nihil explicabo distinctio quibusdam fugiat expedita voluptate atque eligendi, sit at ullam, in optio vero facere maxime nesciunt pariatur autem id suscipit labore fuga quis ipsum! Quidem sint eius omnis, inventore consequatur minus fugit vitae mollitia, pariatur quo neque vel aliquid.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit beatae laborum itaque aliquam ipsam consequatur numquam? Qui nobis molestiae accusantium fugiat, culpa asperiores similique ad dolor, eum cum maiores earum ipsam dolores veritatis nostrum odit illum rerum delectus officiis dolore. Doloribus odit nulla quasi eos mollitia rem perferendis est laudantium unde ad blanditiis, ut vitae dicta aliquam beatae sed impedit illum explicabo. Saepe aliquam, at similique ipsum quae cum soluta quia cumque illum reprehenderit iusto, adipisci, unde id totam. Nihil explicabo distinctio quibusdam fugiat expedita voluptate atque eligendi, sit at ullam, in optio vero facere maxime nesciunt pariatur autem id suscipit labore fuga quis ipsum! Quidem sint eius omnis, inventore consequatur minus fugit vitae mollitia, pariatur quo neque vel aliquid.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit beatae laborum itaque aliquam ipsam consequatur numquam? Qui nobis molestiae accusantium fugiat, culpa asperiores similique ad dolor, eum cum maiores earum ipsam dolores veritatis nostrum odit illum rerum delectus officiis dolore. Doloribus odit nulla quasi eos mollitia rem perferendis est laudantium unde ad blanditiis, ut vitae dicta aliquam beatae sed impedit illum explicabo. Saepe aliquam, at similique ipsum quae cum soluta quia cumque illum reprehenderit iusto, adipisci, unde id totam. Nihil explicabo distinctio quibusdam fugiat expedita voluptate atque eligendi, sit at ullam, in optio vero facere maxime nesciunt pariatur autem id suscipit labore fuga quis ipsum! Quidem sint eius omnis, inventore consequatur minus fugit vitae mollitia, pariatur quo neque vel aliquid.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit beatae laborum itaque aliquam ipsam consequatur numquam? Qui nobis molestiae accusantium fugiat, culpa asperiores similique ad dolor, eum cum maiores earum ipsam dolores veritatis nostrum odit illum rerum delectus officiis dolore. Doloribus odit nulla quasi eos mollitia rem perferendis est laudantium unde ad blanditiis, ut vitae dicta aliquam beatae sed impedit illum explicabo. Saepe aliquam, at similique ipsum quae cum soluta quia cumque illum reprehenderit iusto, adipisci, unde id totam. Nihil explicabo distinctio quibusdam fugiat expedita voluptate atque eligendi, sit at ullam, in optio vero facere maxime nesciunt pariatur autem id suscipit labore fuga quis ipsum! Quidem sint eius omnis, inventore consequatur minus fugit vitae mollitia, pariatur quo neque vel aliquid.</p>
    </div>
  </div>
  
  <sticky-sharebar target="js-sticky-sharebar-target" threshold="20%"></sticky-sharebar>

  </div>
</template>

<script>
import StickySharebar from "./components/StickySharebar";

export default {
  name: "app",
  components: { 
    "sticky-sharebar": StickySharebar
  }
};
</script>
